* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
    overflow: hidden;
    margin: 0 auto;
}

.prgContainer {
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    /* background-color: rgba(255, 23, 125, 1);*/
}

.progress {
    margin: 0px auto;
    width: 4px;
    height: 0%;
    display: block;
    background-color: red;
    animation: prg_bar 3.5s cubic-bezier(.86, .12, .38, .79) 0s 1;
    animation-fill-mode: forwards;
}

@keyframes prg_bar {
    0% {
        height: 0%;
    }
    100% {
        height: 100%;
    }
}

.counter {
    text-align: center;
    font-size: 30px;
    color: red;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 38%;
}

.intro {
    display: block;
    background: red;
    width: 100%;
    height: 100%;
    padding: 30px;
    margin: 0;
    position: fixed;
    left: 0;
    top: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    transition: color 250ms ease-in;
}

/*
.intro>* {
    opacity: 1;
    transition: all 250ms ease-in;
}
*/

.sliderMain.slideUp {
    animation-delay: 200ms;
}

.hello {
    font-size: 70px;
    font-family: 'Merienda', cursive;
}

.name {
    padding: 10px;
    font-family: 'Charmonman', cursive;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}

.workIcon {
    margin: 40px 0;
    cursor: pointer;
    display: block;
}

.down {
    opacity: 0;
    color: yellowgreen;
    animation: animate 1s ease-in 0s infinite normal forwards;
}

@keyframes animate {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100%);
        opacity: 1;
    }
}

.fas {
    font-size: 40px;
}

.sliderMain {
    position: fixed;
    width: 100%;
    top: 100%;
    left: 0;
    height: 100vh;
    overflow: hidden;
}

.wrap {
    width: 100%;
    position: relative;
}

.aboutContact {
    position: absolute;
    left: -50%;
    width: 50%;
    height: 100vh;
    background-color: rgb(32, 31, 31);
    color: beige;
    padding: 50px;
    text-align: right;
}

.rightPage {
    position: absolute;
    left: 100%;
    width: 56%;
    background-color: white;
    height: 100vh;
}

.about {
    font-size: 22px;
    display: inline-block;
    cursor: pointer;
}

.email {
    font-size: 18px;
    display: inline-block;
    cursor: pointer;
}

.socialContainer {
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.social>p, .leftPage>p {
    margin: 8px 0;
    cursor: pointer;
}

.work {
    position: absolute;
    display: flex;
    height: 100vh;
    width: 100%;
    left: 0;
}

.slideRight {
    animation: slideRight 350ms ease-in 0s normal forwards;
}

.slideLeft {
    animation: slideLeft 350ms ease-in 0s normal forwards;
}

@keyframes slideRight {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(50%);
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(0%);
    }
}

.slideLeftImg {
    animation: slideLeftImg 350ms ease-in 0s normal forwards;
}

.slideRightImg {
    animation: slideRightImg 350ms ease-in 0s normal forwards;
}

@keyframes slideLeftImg {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-56%);
    }
}

@keyframes slideRightImg {
    0% {
        transform: translateX(-56%);
    }
    100% {
        transform: translateX(0%);
    }
}

.fas {
    font-size: 40px;
}

.home {
    width: 38%;
    background-color: white;
    padding: 50px;
}

.main_content::after, .headerInfo::after {
    content: "";
    height: 100px;
    display: block;
}

.headerInfo::after {
    height: 150px;
}

.avatar {
    width: 70%;
    height: 200px;
    object-fit: cover;
}

.workName, .workType, .workCode, .footer, .workLink {
    position: relative;
    overflow: hidden;
    margin: 15px 0px;
    width: 100%;
}

.workName {
    height: 60px;
}

.workType {
    height: 25px;
}

.workCode {
    height: 35px;
}

.workTitle::before, .leftPage::before, .about::before, .social::before, .email::before, .description::before {
    content: "";
    display: block;
    width: 5px;
    height: 3px;
    background-color: brown;
    border: 1px solid brown;
    transition: all 900ms ease-in-out;
}

.about::before, .social::before, .email::before {
    float: right;
}

.workTitle:hover::before, .leftPage:hover::before, .about:hover::before, .social:hover::before, .email:hover::before, .description:hover::before {
    width: 100%;
    border: 1px solid green;
    background-color: green;
}

.titleContainer, .typeContainer, .codeContainer, .transContainer, .linkList, .detailContainer {
    position: absolute;
    transform: translateY(0%);
    transition: all 550ms ease-in;
    width: 100%;
    margin: 0;
    padding: 0;
}

.workTitle {
    list-style: none;
    padding: 6px 0;
    cursor: pointer;
    width: fit-content;
}

.workTitle>p {
    font-size: 33px;
    font-weight: bold;
    margin: 0;
}

.type {
    font-size: 16px;
    list-style: none;
    padding: 2px 0;
}

.type>p, .code {
    margin: 0;
}

.codeIcon, .code {
    font-size: 25px;
}

.code {
    padding: 1px 0;
}

.footer {
    display: inline-block;
    cursor: pointer;
    height: 40px;
    margin-top: 20px;
}

.leftPage {
    list-style: none;
    width: fit-content;
}

.middle {
    width: 19%;
    display: flex;
    text-align: right;
    justify-content: flex-end;
    background-color: white;
}

.arrowUp, .arrowDown {
    color: gray;
    margin: 11px;
    cursor: pointer;
}

.arrowUp:hover, .arrowDown:hover {
    color: black;
}

.contents {
    margin: 0;
    padding: 0;
}

.work_list:nth-child(1) {
    background: purple;
}

.work_list {
    padding: 9px;
    list-style: none;
    background: maroon;
    color: white;
    margin: 41px 0;
    text-align: center;
    font-size: 18px;
    border: 5px groove pink;
    border-radius: 0 60% 60% 0px;
}

.track {
    position: relative;
    width: 10px;
}

.scroll {
    width: 8px;
    height: 21%;
    padding: 0;
    margin: 0;
    float: right;
    border: 2px solid red;
    background-color: red;
    transition: height 550ms ease-in;
}

.bench {
    padding: 0;
    margin: 0;
    position: absolute;
}

.mark {
    list-style: none;
    padding: 0;
    margin: 9px 0;
}

.mark::after {
    content: "_";
    display: block;
    color: gray;
    height: 100px;
    font-size: 25px;
}

.screenshot {
    width: 45%;
    height: 100%;
    position: relative;
    user-select: none;
}

.iconPosition {
    position: absolute;
    top: 50%;
    left: 5%;
    border-radius: 50%;
    z-index: 5;
}

.iconContainer {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.backScale {
    position: absolute;
    width: inherit;
    height: inherit;
    background: red;
    transform: scale(1);
    transition: transform 350ms ease-in;
    border-radius: 50%;
    cursor: pointer;
}

.iconContainer:hover .backScale {
    transform: scale(1.5);
}

.icon {
    position: absolute;
    left: 0px;
    top: 0px;
    cursor: pointer;
    color: white;
    text-align: center;
    width: 50px;
    height: 90px;;
}

.close {
    opacity: 0;
    font-size: 36px;
    padding: 5px;
    border-radius: 50px;
    display: block;
    /*
    position: absolute;
    top: 0;
    display: none;
    */
}
.arrowRight{
    display: block;
    border-radius: 50px;
    padding: 5px;   
}

.change {
    top: -48px;
}

.icon.change .arrowRight {
    opacity: 0;
}

.icon.change .close {
    opacity: 1;
}

.prjctImg {
    width: 100%;
    height: 100vh;
    margin: 0;
    filter: grayscale(100%);
    display: block;
}

.noFilter {
    filter: none;
}

.imgContainer {
    position: absolute;
    top: 0;
    transition: top 550ms ease-in;
    overflow: hidden;
}

.workLink {
    height: 40px;
}

.workDetail {
    position: relative;
    height: 100%;
}

.detailContainer {
    height: 100%;
}

.detail {
    list-style: none;
    padding: 50px;
    height: 100%;
}

.detail>.workTitle {
    margin: 0;
    font-size: 33px;
    font-weight: bold;
}

.description {
    font-size: 22px;
    padding: 20px 0;
    height: 200px;
    word-spacing: 4px;
}

.slideUp {
    animation: slide_up 1s ease 100ms 1 normal forwards;
}

@keyframes slide_up {
    0% {
        transform: translate(0, 0px);
        opacity: 0;
    }
    100% {
        transform: translate(0, -100%);
        opacity: 1;
    }
}

.viewOnline, .snapsBtn {
    border: 2px groove red;
    font-weight: bold;
    padding: 6px;
    text-decoration: none;
    color: red;
    margin: 20px;
    width: 150px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.8);
}

.viewOnline {
    display: inline-block;
}

.snapsBtn {
    background: transparent;
    font-size: 15px;
    padding: 8px;
    display: block;
    cursor: pointer;
}

/* -----------------------------  SLIDESHOW STYLES  ----------------------------- */

.slideContainer {
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: scale(0);
    /* transition: background-color 550ms ease-in, transform 100ms ease-in 550ms;*/
    /*Slideshow Close transition*/
}

.open {
    top: 0;
    transform: scale(1);
    background-color: rgba(0, 0, 0, 0.9);
    transition: background-color 550ms ease-in 80ms;
    /*Slideshow Open transition*/
}

.closeSlide {
    position: absolute;
    top: 8px;
    right: 34px;
    color: white;
    font-size: 50px;
    font-weight: bold;
    z-index: 2;
    cursor: pointer;
}

.slideContent {
    position: relative;
    width: 90%;
    margin: 0px auto;
    overflow: hidden;
    height: 100vh;
    transform: scale(0);
    transition: transform 250ms ease;
    /*Slideshow close transition*/
}

.slideContainer.open>.slideContent {
    transform: scale(1);
    transition: transform 550ms ease-in;
}

.slideNumber {
    display: inline-block;
    width: 100px;
    text-align: center;
    margin: 0px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
}

.slides {
    position: absolute;
    width: 100%;
    text-align: center;
    margin: 0px auto;
    opacity: 0;
    transform: translateX(100%);
    transition: all 500ms ease-out;
}

.slideImg {
    width: 70%;
    height: 500px;
    object-fit: contain;
}

.liveDemo {
    width: 90%;
}

.active {
    opacity: 1;
    transform: translateX(0%);
}

.slidePrev {
    transform: translateX(-100%);
}

.prevSlide, .nextSlide {
    position: absolute;
    font-size: 50px;
    color: white;
    padding: 10px;
    top: 200px;
    cursor: pointer;
    transition: all 550ms ease-in;
}

.disable {
    cursor: not-allowed;
}

.nextSlide {
    right: 0;
}

.prevSlide:hover, .nextSlide:hover {
    background-color: rgba(49, 43, 43, 0.5);
}

.prevSlide.disable:hover, .nextSlide.disable:hover {
    background: transparent;
}

.caption {
    font-size: 30px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin: 0;
}